body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
	margin: 0px;
}

.message {
	margin: 1%;
}

.message .sent {
	background-color: #1982FC;
	border-radius: 15px;
	padding: 1%;
	margin-left: auto;
	margin-right: 0;
	max-width: 50%;
	width: fit-content;
}

.message .received {
	background-color: #d8d8d8;
	border-radius: 15px;
	padding: 1%;
	margin-right: auto;
	margin-left: 0;
	max-width: 50%;
	width: fit-content;
}

.message .sent .replies .reply .message .sent {
	border-style: solid;
	border-color: white;
	border-width: thin;
}

.message .received .replies .reply .message .received {
	border-style: solid;
	border-color: darkgray;
	border-width: thin;
}


.message .received .replies {
	border-left: dotted dimgray;
	border-bottom: dotted dimgray;
	border-bottom-left-radius: 15px;
}

.message .sent .replies {
	border-left: dotted white;
	border-bottom: dotted white;
	border-bottom-left-radius: 15px;
}

.received .replies {
	margin-top: 2%;
	padding: 1%;
}

.sent .replies {
	margin-top: 2%;
	padding: 1%;
}

.reply .received {
	min-width: 90%;
	padding: 1vh;
}

.reply .sent {
	min-width: 90%;
	padding: 1vh;
}

div.message_part {}

span.timestamp {
	opacity: 60%;
}

span.sender {
	opacity: 80%;
}

span.bubble {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

span.reply_context {
	opacity: 60%;
}

span.expressive {
	opacity: 60%;
}

span.reactions {
	opacity: 60%;
}

span.reaction {}