body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
	margin: 0px;
}

xmp {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	white-space: pre-wrap;
	margin: 0px;
}

a[href^="#"] {
	text-decoration: none;
	color: darkblue;
}

.message {
	margin: 1%;
	overflow-wrap: break-word;
}

.message .sent.iMessage {
	background-color: #1982FC;
}

.message .sent.sms {
	background-color: #65c466
}

.message .sent {
	color: white;
	border-radius: 25px;
	padding: 15px;
	margin-left: auto;
	margin-right: 0;
	max-width: 60%;
	width: fit-content;
}

.message .received {
	background-color: #d8d8d8;
	color: black;
	border-radius: 25px;
	padding: 15px;
	margin-right: auto;
	margin-left: 0;
	max-width: 60%;
	width: fit-content;
}

.message .sent .replies .reply .message .sent {
	border-style: solid;
	border-color: white;
	border-width: thin;
}

.message .received .replies .reply .message .received {
	border-style: solid;
	border-color: darkgray;
	border-width: thin;
}

.message .received .replies {
	border-left: dotted dimgray;
	border-bottom: dotted dimgray;
	border-bottom-left-radius: 25px;
}

.message .sent .replies {
	border-left: dotted white;
	border-bottom: dotted white;
	border-bottom-left-radius: 25px;
}

.received .replies {
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.sent .replies {
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.reply .received {
	max-width: 85%;
	padding: 15px;
}

.reply .sent {
	max-width: 85%;
	padding: 15px;
}

.app {
	background: white;
	border-radius: 25px;
}

.app a {
	text-decoration: none;
}

.app_header {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: black;
}


.app_header img {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.app_header audio {
	padding-bottom: 2%;
}


.app_header .image_title {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}


.app_header .image_subtitle {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.app_header .ldtext {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.app_header .name {
	color: black;
	font-weight: 600;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.app_footer {
	display: grid;
	grid-template-areas:
		'caption trailing_caption'
		'subcaption trailing_subcaption';
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;

	border-bottom-style: solid;
	border-bottom-color: darkgray;

	border-left-style: solid;
	border-left-color: darkgray;

	border-right-style: solid;
	border-right-color: darkgray;

	border-width: thin;
	color: black;
	background: lightgray;
	padding-bottom: 1%;
}

.app_footer .caption {
	grid-area: caption;
	margin-top: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.app_footer .subcaption {
	grid-area: subcaption;
	margin-top: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.app_footer .trailing_caption {
	grid-area: trailing_caption;
	text-align: right;
	margin-top: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.app_footer .trailing_subcaption {
	grid-area: trailing_subcaption;
	text-align: right;
	margin-top: 1%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

span.timestamp {
	opacity: 60%;
}

span.reply_anchor {
	opacity: 100%;
}

span.sender {
	opacity: 100%;
}

span.deleted {
	opacity: 60%;
}

span.subject {
	font-weight: 600;
}

span.bubble {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

span.reply_context {
	opacity: 60%;
}

span.expressive {
	opacity: 60%;
}

span.reactions {
	opacity: 60%;
}

div.reactions img {
	max-width: 5em;
}

div.reaction {
	display: flex;
	align-items: center;
}

.announcement {
	text-align: center;
	padding: 2vh 1vw 2vh 1vw;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	max-height: 90vh;
}

video {
	max-width: 100%;
	max-height: 90vh;
}

audio {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.sent table {
	color: white;
}

.received table {
	color: black;
}

.received .sent table {
	color: white;
}

table {
	border-collapse: collapse;
	text-align: left;
}

thead {
	border-bottom: 2px solid white;
}

td {
	padding: 2px 5px;
}

.sent tbody {
	color: rgba(256, 256, 256, 0.7)
}

.received .sent tbody {
	color: rgba(256, 256, 256, 0.7)
}

.received tbody {
	color: rgba(0, 0, 0, 0.7)
}

.received .announcement {
	color: black;
}

.sent .announcement {
	color: white;
}

@media (prefers-color-scheme: dark) {
	body {
		background: black;
	}

	.announcement {
		color: lightgray;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: transparent;
	}
}